ver foto de la instalacion de pydub, en caso de actualizair ingresar el siguiente comando (ver foto y escribir)

Si no tienes instalado python3 y es la primera ves prueba usando el comando **py** y luego -version, es muy probable que con este comando te corra el programa

pero igualmente tienes que agregarlo a PATH de windows

=================================================
sitio donde instalar ffmepg
es la herramienta que ayudara al programa a hacer las conversiones

> https://ffmpeg.zeranoe.com/builds/

asegurarse de verificar la version del programa a descargar sea la misma de su ordenador

en variables del entorno agregar el PATH para ffmpeg
> C:\FFmpeg\bin



mas instrucciones de este procedimiento 
> https://www.solvetic.com/tutoriales/article/7976-como-instalar-ffmpeg-en-windows-10/

